---
layout: generic
title_localized:
  en: Page not Found
meta_description_localized:
  en:
permalink_localized:
  en: /page-not-found/
meta_tags:
  robots: noindex, follow
---

<div class="sitemap-links">
  {% assign footer-items = site.data._menus.footer.items %}
    <ul>
      {% for item in footer-items %}
        {% assign url = item.url %}
        {% assign text = item.label %}
        <li><a href="{{url}}" {% if url contains 'http' %}target="_blank"{% endif %}>{{text}}</a></li>
      {% endfor %}
    </ul>
</div>
