---
layout: default
title_localized:
 en: Our Hotel
meta_description_localized:
  en:
permalink_localized:
  en: /about/
meta_tags:
  robots:
---

{% region hero, type:hero %}

<div class="light-bg tb-padding">
  <div class="col-img-detail">
    <div class="col-img-detail__wrap">
      <div class="col-img-detail__detail">
        <div class="box" tabindex="0">
          {% region intro_two_col, type:html %}
        </div>
      </div>
      <div class="col-img-detail__image">
        {% region intro_two_col_image, type:image %}
      </div>
    </div>
  </div>
</div>

{% assign amenities = site.data._models.amenities | sort: order %}
<div class="col-amenities" id="amenities">
  <div class="logo-amenities">
      <img src="/assets/img/logo-dark.png" alt="hotel logo" class="logo-amenities">
  </div>
  <div class="col-amenities__items">
    <div class="col-amenities__items__wrap">
      <div class="col-amenities__items__heading" tabindex="0">
        {% regionblock amenities_title_one, type:header %}
        <p class="h2">FUN AMENITIES MAKE THE HOTEL CAZA EXPERIENCE UNIQUE </p>
        {% endregionblock %}
      </div>
      <div class="col-amenities__items__slider">
        <div class="amenities-slider">
          {% assign fun_amenities = amenities | where: 'category', 'fun' %}
          {% for amenity in fun_amenities %}
            <div class="slide-item1">
             <img src="{{ amenity.images.url_xsmall }}" alt="{{ amenity.images.alt }}">
             <p class="h3" tabindex="0">{{ amenity.name }}</p>
             <p tabindex="0">{{ amenity.description }}</p>
            </div>
           {% endfor %}
        </div>
        <div class="slider-control">
          <div class="slide-prev"><span></span></div>
          <div class="slider-nav">
              {% for amenity in fun_amenities %}
              <span></span>
              {% endfor %}
          </div>
          <div class="slide-next"><span></span></div>
        </div>
      </div>
    </div>
  </div>

  <div class="chablis-bg">
    <div class="col-amenities__items">
      <div class="col-amenities__items__wrap">
        <div class="col-amenities__items__heading" tabindex="0">
          {% regionblock amenities_title_two, type:header %}
          <p class="h2">STEP INSIDE HOTEL CAZA</p>
          {% endregionblock %}
        </div>
        <div class="col-amenities__items__slider">
          <div class="amenities-slider">
            {% assign hotel_amenities = amenities | where: 'category', 'hotel' %}
            {% for amenity in hotel_amenities %}
              <div class="slide-item1">
               <img src="{{ amenity.images.url_xsmall }}" alt="{{ amenity.images.alt }}">
               <p class="h3">{{ amenity.name }}</p>
               <p>{{ amenity.description }}</p>
              </div>
             {% endfor %}
          </div>
          <div class="slider-control">
            <div class="slide-prev"><span></span></div>
            <div class="slider-nav">
                {% for amenity in hotel_amenities %}
                <span></span>
                {% endfor %}
            </div>
            <div class="slide-next"><span></span></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="panache-bg">
    <div class="col-amenities__items">
      <div class="col-amenities__items__wrap">
        <div class="col-amenities__items__heading" tabindex="0">
          {% regionblock amenities_title_three, type:header %}
          <p class="h2">business amenities</p>
          {% endregionblock %}
        </div>
        <div class="col-amenities__items__slider">
          <div class="amenities-slider">
            {% assign business_amenities = amenities | where: 'category', 'business' %}
            {% for amenity in business_amenities %}
              <div class="slide-item1">
               <img src="{{ amenity.images.url_xsmall }}" alt="{{ amenity.images.alt }}">
               <p class="h3" tabindex="0">{{ amenity.name }}</p>
               <p tabindex="0">{{ amenity.description }}</p>
              </div>
             {% endfor %}
          </div>
          <div class="slider-control">
            <div class="slide-prev"><span></span></div>
            <div class="slider-nav">
                {% for amenity in business_amenities %}
                <span></span>
                {% endfor %}
            </div>
            <div class="slide-next"><span></span></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="light-bg pb-4 pb-md-5">
    <div class="col-amenities__items">
      <div class="col-amenities__items__wrap">
        <div class="col-amenities__items__heading" tabindex="0">
          {% regionblock amenities_title_four, type:header %}
          <p class="h2"  tabindex="0">DESTINATION FEE</p>
          {% endregionblock %}
        </div>
        <div class="text-center m-auto pb-4 col-amenities__items__list ">
          {% regionblock amenities_destination_fee, type:text %}
          <p class="h3 p-3" tabindex="0">Elevate your San Francisco experience</p>
          <p tabindex="0" class="text-blue" >Guests of Hotel Caza can enjoy all the comforts of home and more for a $25 plus tax daily Destination Fee. Services included with Destination Fee: </p>
          <ul  tabindex="0">
            <li>High-speed WiFi – unlimited device connections</li>
            <li>Complimentary water stations</li>
            <li>Complimentary morning coffee in the lobby</li>
            <li>Complimentary local calls and toll-free calls</li>
            <li>Complimentary access to our indoor and outdoor Games and Activities</li>
            <li>Complimentary use of our 24-hour fitness center</li>
            <li>VIP discounts on select tours, attractions, and eateries in Fisherman’s Wharf</li>
          </ul>
          {% endregionblock %}
         </div>

        </div>
      </div>
    </div>
  </div>
</div>

{% region cta_banner, type:hero %}
