---
layout: generic
title_localized:
  en: Location
meta_description_localized:
  en:
permalink_localized:
  en: /location/
meta_tags:
  robots:
---

<div class="light-bg tb-padding home-intro">
  <div class="col-img-detail">
    <div class="col-img-detail__wrap">
      <div class="col-img-detail__detail">
        <div class="box">
          {% region intro_two_col, type:html %}
        </div>
        <div class="decorative">
          <img src="//res.cloudinary.com/traveltripperweb/image/upload/v1553069158/qfwhf4sgchn9cfiot0ae.png" alt="Dumplings">
        </div>
      </div>
      <div class="col-img-detail__image">
        {% region intro_two_col_image, type:image %}
      </div>
    </div>
  </div>
</div>


<div class="c-map">
  <div class="attractions__heading">
    <p class="h2"><span>Things to do near Hotel caza:</span></p>
  </div>
  <div class="c-map__wrap">
    <div class="c-map__leaflet" id="leafletmap" data-attractions="show"></div>
    <div class="c-map__tabs">
      <ul class="nav--filter">
      <li>
        <a data-filter="attractions" class="filter--option active"><i class="icon-attractions"></i><span>Attractions</span></a>
      </li>
      <li>
        <a data-filter="entertainment" class="filter--option"><i class="icon-entertainment"></i><span>Entertainment</span></a>
      </li>
      <li>
        <a data-filter="eat-drink" class="filter--option"><i class="icon-eat-drink"></i><span>Eat & Drink</span></a>
      </li>
      <li>
        <a data-filter="shopping" class="filter--option"><i class="icon-shopping"></i><span>Shopping</span></a>
      </li>
    </ul>

    {% assign attractions = site.data._models.attractions | sort: order %}
    <div class="c-map__tabs__content-group">
      <div class="filter-item c-map__tabs__content active"  data-filter="attractions">
        <div class="location-slider" id="attraction_slider">
          {% for attraction in attractions %}
          <div class="location-slider__item">
            <div class="location-slider__item__image">
              <img src="{{ attraction.image.url_medium }}" alt="{{ attraction.image.alt }}">
            </div>
            <div class="location-slider__item__detail">
              <p class="h3">{{ attraction.name }}</p>
              {{ attraction.description }}
              <p>
                <a href="https://www.google.com/maps?q={{ attraction.location.address | replace: ' ','+' }}&amp;ll={{ attraction.location.latitude }},{{ attraction.location.longitude }},12z" tabindex="-1" rel="nofollow" target="_blank" class="btn btn--secondary">Show on Map</a>
                <a href="https://www.google.com/maps/dir/?api=1&origin={{ attraction.location.latitude }},{{ attraction.location.longitude }}&destination={{ site.data.hotel_settings.latitude }},{{ site.data.hotel_settings.longitude }}" target="_blank" rel="nofollow" class="btn btn--secondary">Get Directions</a>
              </p>
            </div>
          </div>
          {% endfor %}
        </div>

        <div class="slider-control location-slider-control">
          <div class="slide-prev"><span></span></div>
          <div class="slider-nav">
           {% for attraction in attractions %}
           <span></span>
           {% endfor %}
          </div>
          <div class="slide-next"><span></span></div>
        </div>
      </div>
      <div class="filter-item c-map__tabs__content hidden"  data-filter="entertainment">
        <div class="location-slider" id="entertainment_slider">
          {% for attraction in attractions %}
          <div class="location-slider__item">
            <div class="location-slider__item__image">
              <img src="{{ attraction.image.url_medium }}" alt="{{ attraction.image.alt }}">
            </div>
            <div class="location-slider__item__detail">
              <p class="h3">{{ attraction.name }}</p>
              {{ attraction.description }}
              <p>
                <a href="https://www.google.com/maps?q={{ attraction.location.address | replace: ' ','+' }}&amp;ll={{ attraction.location.latitude }},{{ attraction.location.longitude }},12z" tabindex="-1" rel="nofollow" target="_blank" class="btn btn--secondary">Show on Map</a>
                <a href="https://www.google.com/maps/dir/?api=1&origin={{ attraction.location.latitude }},{{ attraction.location.longitude }}&destination={{ site.data.hotel_settings.latitude }},{{ site.data.hotel_settings.longitude }}" target="_blank" rel="nofollow" class="btn btn--secondary">Get Directions</a>
              </p>
            </div>
          </div>
          {% endfor %}
        </div>

        <div class="slider-control location-slider-control">
          <div class="slide-prev"><span></span></div>
          <div class="slider-nav">
           {% for attraction in attractions %}
           <span></span>
           {% endfor %}
          </div>
          <div class="slide-next"><span></span></div>
        </div>
      </div>
      <div class="filter-item c-map__tabs__content hidden"  data-filter="eat-drink">
        <div class="location-slider" id="eatdrink_slider">
          {% for attraction in attractions %}
          <div class="location-slider__item">
            <div class="location-slider__item__image">
              <img src="{{ attraction.image.url_medium }}" alt="{{ attraction.image.alt }}">
            </div>
            <div class="location-slider__item__detail">
              <p class="h3">{{ attraction.name }}</p>
              {{ attraction.description }}
              <p>
                <a href="https://www.google.com/maps?q={{ attraction.location.address | replace: ' ','+' }}&amp;ll={{ attraction.location.latitude }},{{ attraction.location.longitude }},12z" tabindex="-1" rel="nofollow" target="_blank" class="btn btn--secondary">Show on Map</a>
                <a href="https://www.google.com/maps/dir/?api=1&origin={{ attraction.location.latitude }},{{ attraction.location.longitude }}&destination={{ site.data.hotel_settings.latitude }},{{ site.data.hotel_settings.longitude }}" target="_blank" rel="nofollow" class="btn btn--secondary">Get Directions</a>
              </p>
            </div>
          </div>
          {% endfor %}
        </div>

        <div class="slider-control location-slider-control">
          <div class="slide-prev"><span></span></div>
          <div class="slider-nav">
           {% for attraction in attractions %}
           <span></span>
           {% endfor %}
          </div>
          <div class="slide-next"><span></span></div>
        </div>
      </div>
      <div class="filter-item c-map__tabs__content hidden"  data-filter="shopping">
        <div class="location-slider" id="shopping_slider">
          {% for attraction in attractions %}
          <div class="location-slider__item">
            <div class="location-slider__item__image">
              <img src="{{ attraction.image.url_medium }}" alt="{{ attraction.image.alt }}">
            </div>
            <div class="location-slider__item__detail">
              <p class="h3">{{ attraction.name }}</p>
              {{ attraction.description }}
              <p>
                <a href="https://www.google.com/maps?q={{ attraction.location.address | replace: ' ','+' }}&amp;ll={{ attraction.location.latitude }},{{ attraction.location.longitude }},12z" tabindex="-1" rel="nofollow" target="_blank" class="btn btn--secondary">Show on Map</a>
                <a href="https://www.google.com/maps/dir/?api=1&origin={{ attraction.location.latitude }},{{ attraction.location.longitude }}&destination={{ site.data.hotel_settings.latitude }},{{ site.data.hotel_settings.longitude }}" target="_blank" rel="nofollow" class="btn btn--secondary">Get Directions</a>
              </p>
            </div>
          </div>
          {% endfor %}
        </div>

        <div class="slider-control location-slider-control">
          <div class="slide-prev"><span></span></div>
          <div class="slider-nav">
           {% for attraction in attractions %}
           <span></span>
           {% endfor %}
          </div>
          <div class="slide-next"><span></span></div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>


<script type="text/javascript">
{% assign mapitems = site.data._models.attractions | sort: 'order' %}
  var attractions = [];
  attractions = [
   {% for mapitem in mapitems %}[ '{{ mapitem.name | escape | replace :'&#39;',''}}', {{ mapitem.location.latitude }}, {{ mapitem.location.longitude }}, '{{ mapitem.category }}','{{ mapitem.location.address | split:','| shift | join: ','  | escape | replace :'&#39;','' }}','{{ mapitem.location.google_place.website }}','{{ mapitem.image.url_thumb }}'] {% unless forloop.last %},
   {% endunless %}{% endfor %} ];
</script>
<script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"></script>
<script src="/assets/js/leaflet-plugin.js"></script>
<script type="text/javascript">
     var leaflet = LeafletMap({
       target: document.getElementById('leafletmap'),
       hotelTitle: '{{ site.data.hotel_settings.name }}',
       hotelAddress: '{{ site.data.hotel_settings.address.street1 }}, {{ site.data.hotel_settings.address.city }} {{ site.data.hotel_settings.address.state }}{{ site.data.hotel_settings.address.zip_code }}',
       hotelLat: {{ site.data.hotel_settings.latitude }},
       hotelLong: {{ site.data.hotel_settings.longitude }},
       zoom: 16,
       markerSize: [56, 56],
       attractionsList: attractions,
       markerClickAction: targetSlider
     });
     leaflet.init();

     if(document.getElementsByClassName("location-slider")[0]) {
       var slider = {};
       var locSliders = document.querySelectorAll('.location-slider');
       forEachloop(locSliders, function (index, value) {
         var cont = value.nextElementSibling.children[1];
         var prevSlide = value.nextElementSibling.children[0];
         var nextSlide = value.nextElementSibling.children[2];
         slider[value.attributes.id.nodeValue] = tns({
           container: value,
           navPosition: "bottom",
           navContainer: cont,
           prevButton: prevSlide,
           nextButton: nextSlide,
           items: 1,
           loop: false
         });
       });
     }

     function targetSlider() {
       var markerItem = this.options.marker_item - 1;
       var markerCategory = this.options.alt;
       var sliderCat = document.getElementById(markerCategory);

       if (markerCategory == "Attractions") {
         slider.attraction_slider.goTo(markerItem);
       }else if(markerCategory == "Entertainment"){
         slider.entertainment_slider.goTo(markerItem);
       }else if(markerCategory == "Eat & Drink"){
         slider.eatdrink_slider.goTo(markerItem);
       }else {
         slider.shopping_slider.goTo(markerItem);
       }
     }
  </script>
