---
layout: generic
permalink: /blog/search/
---
<!-- Blog banner here -->

<section class="blog blog--search-data">
  <div class="blog__container">
    <div class="blog__row">
      <div class="blog__list">
        <div class="blog__item">
            <p class="h2" tabindex="0">Search Results:</p>
            <ul id="search-results" class="blog__results"></ul>
        </div>
      </div>
      <div class="blog__aside">
        {% include blog-sidebar.html %}
      </div>
    </div>
  </div>
</section>

{% include offers-cross-sell.html %}

<script>
  window.store = {
      {% for post in site.data._models.posts %}
      "{{ post.url_friendly_name_localized.en }}": {
          "title": "{{ post.title | xml_escape }}",
          "date" : "{{ post.date | date: '%b %d, %Y' }}",
          "image": "{{ post.image.url_small }}",
          "category": "{{ post.blog_category | xml_escape }}",
          "content": {{ post.post_content | strip_html | strip_newlines | jsonify }},
          "excerpt": {{ post.post_excerpt_localized.en | strip_html | strip_newlines | jsonify }},
          "url": "{{ post.url_friendly_name | xml_escape }}"
      }
      {% unless forloop.last %},{% endunless %}
      {% endfor %}
  };
</script>
<script src="/assets/js/lunr.js"></script>
<script src="/assets/js/search.js"></script>
