---
layout: home
title_localized:
  en: Home
meta_description:
permalink:
meta_tags:
  robots:
---

<div class="light-bg tb-padding home-intro">
  <div class="col-img-detail">
    <div class="col-img-detail__wrap">
      <div class="col-img-detail__detail">
        <div class="box">
          {% region intro_two_col, type:html %}
        </div>
        <div class="decorative">
          <img src="//res.cloudinary.com/traveltripperweb/image/upload/v1553069158/qfwhf4sgchn9cfiot0ae.png" alt="Dumplings">
        </div>
      </div>
      <div class="col-img-detail__image">
        {% region intro_two_col_image, type:image %}
      </div>
    </div>
  </div>
</div>

{% assign rooms = site.data._models.rooms | sort:"order" %}

<section class="rooms-cs">
  <div class="rooms-cs__intro">
    <div class="rooms-cs__row">
      <div class="rooms-cs__intro__left">
        <p class="h2">Welcome to your happy place</p>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
        <a href="/rooms/" class="btn btn--secondary">View All Rooms</a>
      </div>
      <div class="rooms-cs__intro__right">
        <div class="room-amenities">
          <div class="h4">Amenities</div>
          <ul class="amenities">
            <li>
              <img src="//res.cloudinary.com/traveltripperweb/image/upload/v1553256617/qmrlzvjj7ggeh1p9i88m.png" alt="Hi-speed Wifi">
              <span>Hi-speed<br> Wifi</span>
            </li>
            <li>
              <img src="//res.cloudinary.com/traveltripperweb/image/upload/v1553256615/tx6olwfeamyu9fpxshk5.png" alt="Minibar & Snacks">
              <span>Minibar<br>& Snacks</span>
            </li>
            <li>
              <img src="//res.cloudinary.com/traveltripperweb/image/upload/v1553256616/xpd0um4hcmnbspghs0gc.png" alt="Luxury Toiletries">
              <span>Luxury<br>Toiletries</span>
            </li>
            <li>
              <img src="//res.cloudinary.com/traveltripperweb/image/upload/v1553256616/ilzxbtoo2wrjbyshy29q.png" alt="Walk-in Rainshower">
              <span>Walk-in<br>Rainshower</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  {% include rooms-cross-sell.html %}

</section>

{% assign amenities = site.data._models.amenities | sort: order %}
<div class="col-amenities">
  <div class="panache-bg">
    <div class="logo-amenities">
        <img src="/assets/img/logo-dark.png" alt="hotel logo" class="logo-amenities">
    </div>
    <div class="col-amenities__items home-amenities">
      <div class="col-amenities__items__wrap">
        <div class="col-amenities__items__heading">
          <p class="h2">Fun amenities unique to our hotel</p>
        </div>
        <div class="col-amenities__items__slider">
          <div class="amenities-slider">
            {% assign fun_amenities = amenities | where: 'category', 'fun' %}
            {% for amenity in fun_amenities %}
              <div class="slide-item1">
               <img src="{{ amenity.images.url_xsmall }}" alt="{{ amenity.images.alt }}">
               <p class="h3">{{ amenity.name }}</p>
               <p>{{ amenity.description }}</p>
              </div>
             {% endfor %}
          </div>
          <div class="slider-control">
            <div class="slide-prev"><span></span></div>
            <div class="slide-nav" style="display:block !important;">
              {% for amenity in fun_amenities %}
              <span></span>
               {% endfor %}
               <div class="viewall">
                 <a href="/about/#amenities" class="btn btn--secondary">View All Amenities</a>
               </div>
            </div>

            <div class="slide-next"><span></span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="attractions">
  <div class="attractions__heading">
    <p class="h2"><span>Things to do near Hotel caza:</span></p>
  </div>
  <ul class="attractions-mobile">
    <li>
      <a href="javascript:void(0);" class="attractions-mobile__link active"><i class="icon-attractions"></i>Attractions <div class="toggler">Less <span class="fal fa-minus"></span></div></a>
      <div class="attractions-mobile__content active">
        <img src="//res.cloudinary.com/traveltripperweb/image/upload/v1553601636/e3uuj2abdvym25t1g9wz.jpg" alt="Attractions">
        <div class="attractions-mobile__info">
          <p class="h3">Attractions Heading</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore  nostrud exercitation ullamco laboris nisi ut aliquip.</p>
          <a href="" class="btn btn--secondary">Discover More</a>
        </div>
      </div>
    </li>
    <li>
      <a href="javascript:void(0);" class="attractions-mobile__link"><i class="icon-entertainment"></i>Entertainment<div class="toggler">More <span class="fal fa-plus"></span></div></a>
      <div class="attractions-mobile__content">
        <img src="//res.cloudinary.com/traveltripperweb/image/upload/v1553601636/e3uuj2abdvym25t1g9wz.jpg" alt="Attractions">
        <div class="attractions-mobile__info">
          <p class="h3">Attractions Heading</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore  nostrud exercitation ullamco laboris nisi ut aliquip.</p>
          <a href="" class="btn btn--secondary">Discover More</a>
        </div>
      </div>
    </li>
    <li>
      <a href="javascript:void(0);" class="attractions-mobile__link"><i class="icon-eat-drink"></i>Eat & Drink<div class="toggler">More <span class="fal fa-plus"></span></div></a>
      <div class="attractions-mobile__content">
        <img src="//res.cloudinary.com/traveltripperweb/image/upload/v1553601636/e3uuj2abdvym25t1g9wz.jpg" alt="Attractions">
        <div class="attractions-mobile__info">
          <p class="h3">Attractions Heading</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore  nostrud exercitation ullamco laboris nisi ut aliquip.</p>
          <a href="" class="btn btn--secondary">Discover More</a>
        </div>
      </div>
    </li>
    <li>
      <a href="javascript:void(0);" class="attractions-mobile__link"><i class="icon-shopping"></i>Shopping<div class="toggler">More <span class="fal fa-plus"></span></div></a>
        <div class="attractions-mobile__content">
          <img src="//res.cloudinary.com/traveltripperweb/image/upload/v1553601636/e3uuj2abdvym25t1g9wz.jpg" alt="Attractions">
          <div class="attractions-mobile__info">
            <p class="h3">Attractions Heading</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore  nostrud exercitation ullamco laboris nisi ut aliquip.</p>
            <a href="" class="btn btn--secondary">Discover More</a>
          </div>
        </div>
    </li>
  </ul>
  <div class="attractions__list">
    <ul class="nav--filter attractions__nav">
      <li>
        <a data-filter="attractions" class="filter--option active"><i class="icon-attractions"></i><span>Attractions</span></a>
      </li>
      <li>
        <a data-filter="entertainment" class="filter--option"><i class="icon-entertainment"></i><span>Entertainment</span></a>
      </li>
      <li>
        <a data-filter="eat-drink" class="filter--option"><i class="icon-eat-drink"></i><span>Eat & Drink</span></a>
      </li>
      <li>
        <a data-filter="shopping" class="filter--option"><i class="icon-shopping"></i><span>Shopping</span></a>
      </li>
    </ul>
    <div class="attractions__content">
      <div class="filter-item attractions__item" data-filter="attractions">
        <img src="//res.cloudinary.com/traveltripperweb/image/upload/v1553601636/e3uuj2abdvym25t1g9wz.jpg" alt="Attractions">
        <div class="attractions__copy">
          <p class="h3">General attractions heading</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore  nostrud exercitation ullamco laboris nisi ut aliquip.</p>
          <a href="" class="btn btn--secondary">Discover More</a>
        </div>
      </div>
      <div class="filter-item hidden attractions__item" data-filter="entertainment">
        <img src="//res.cloudinary.com/traveltripperweb/image/upload/v1553601636/e3uuj2abdvym25t1g9wz.jpg" alt="Attractions">
        <div class="attractions__copy">
          <p class="h3">General Entertainment heading</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore  nostrud exercitation ullamco laboris nisi ut aliquip.</p>
          <a href="" class="btn btn--secondary">Discover More</a>
        </div>
      </div>
      <div class="filter-item hidden attractions__item" data-filter="eat-drink">
        <img src="//res.cloudinary.com/traveltripperweb/image/upload/v1553601636/e3uuj2abdvym25t1g9wz.jpg" alt="Attractions">
        <div class="attractions__copy">
          <p class="h3">General Eat & Drink heading</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore  nostrud exercitation ullamco laboris nisi ut aliquip.</p>
          <a href="" class="btn btn--secondary">Discover More</a>
        </div>
      </div>
      <div class="filter-item hidden attractions__item" data-filter="shopping">
        <img src="//res.cloudinary.com/traveltripperweb/image/upload/v1553601636/e3uuj2abdvym25t1g9wz.jpg" alt="Attractions">
        <div class="attractions__copy">
          <p class="h3">General Shopping heading</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore  nostrud exercitation ullamco laboris nisi ut aliquip.</p>
          <a href="" class="btn btn--secondary">Discover More</a>
        </div>
      </div>

      <div class="decorative">
        <img src="//res.cloudinary.com/traveltripperweb/image/upload/v1553606408/cozxdl8yxbqcxm88fcj0.png" alt="Vespa">
      </div>
    </div>
  </div>
</div>

{% include offers-cross-sell.html %}
