{% assign gallery_items = '' %}
<div class="filtered-galleries lightbox--gallery {{item.advanced_options.custom_classes}}" {% if item.advanced_options.custom_id and item.advanced_options.custom_id != "" %}id="{{item.advanced_options.custom_id}}"{% endif %} >
  <div class="gallery-intro">
    <p class="h4">what would you like to see?</p>
    <ul class="gallery-nav nav--filter">
      <!-- <li>
        <a href="#{% t 'galleries.filters.all' %}">{% t 'galleries.filters.all' %}</a>
      </li> -->
      {% for gallery in item.galleries %}
      {% assign selected_gallery = site.data._galleries[gallery.gallery]  %}
      {% if selected_gallery != nil %}
      <li>
        <a href="#{{gallery.gallery}}">{{gallery.label | default: selected_gallery.name }}</a>
      </li>
      {% capture gallery_items %}
      {{ gallery_items }}
      <div id={{ gallery.gallery }} class="container gallery">
        <div class="gallery__wrap">
          <p class="h3">{{ gallery.label }}</p>
          <div class="gallery__inner">
            <div class="">
              {% for photo in selected_gallery.photos %}
              <div class="lightbox-item gallery-item gallery__photos">
                <img src="{{ photo.url_small }}" alt="{{ photo.alt }}" data-large="{{ photo.url_large }}" data-thumb="{{ photo.url_thumb }}" class="objectfit" />
                <div class="gallery__photos__overlay">
                  <img src="//res.cloudinary.com/traveltripperweb/image/upload/v1553683207/xux2vesw3mtctd34txrh.png" alt="Enlarge Image">
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      {% endcapture %}
      {% endif %}
      {% endfor %}
    </ul>
  </div>
  <div class="gallery-items">
    {{ gallery_items }}
  </div>
</div>
