<div class="sps sps--abv">
  <div class="blog__search-wrap d-none d-md-block">
    <p class="blog-sidebar-heading mb-2" tabindex="0">Search</p>
    <div class="blog__search">
      <form class="search-form" action="/blog/search/" method="get">
        <input type="text" class="blog__search__box" name="query" id="search-box" placeholder="Enter search keyword(s)" aria-label="Search blogs">
        <button type="submit" class="blog__search__btn" aria-label="Click to search">
          <i class="fal fa-search"></i>
        </button>
    </form>
    </div>
  </div>

  <div class="blog__others">

    <p class="blog-sidebar-heading" tabindex="0">Recent Posts</p>

    {% assign recentposts = site.data._models.posts | sort: 'date' | reverse %}
    {% for recentpost in recentposts | limit: 5 %}
    {% if recentpost.url_friendly_name != page.url_friendly_name %}
    <div class="blog__others__item">
      <a href="/blog/{{recentpost.url_friendly_name }}/">
        <figure style="background-image:url('{{recentpost.image.url_xsmall}}');" class="bg-cover"></figure>
        <div class="blog__others__item__right">
          <p class="blog-subtitle" tabindex="0">{{recentpost.title  | truncate: 35 }}</p>
          <div class="blog__info">
            <span class="blog__date" tabindex="0">
              {% assign d = recentpost.date | date: "%-d" %}
              {{ recentpost.date | date: "%B" }}
              {% case d %}{% when "1" or "21" or "31" %}{{ d }}st{% when "2" or "22" %}{{ d }}nd{% when "3" or "23" %}{{ d }}rd{% else %}{{ d }}th{% endcase %},
              {{ recentpost.date | date: "%Y" }}
            </span>
          </div>
        </div>
      </a>
    </div>
    {% endif %}
    {% endfor %}
  </div>

  <select class="custom-select form-control" id="js-categoryfilter" style="display:none;">
        <option selected value="all">Choose a Category</option>
        {% for category in site.data._definition_options.blog_categories %}
          <option value="{{ category | replace: ' ', '-' | replace: '&', 'and' | downcase }}">category</option>
        {% endfor %}
      </select>

  <div class="categories-wrap d-none d-md-block">
    <p class="blog-sidebar-heading" tabindex="0">Categories</p>

    <ul class="categories-list">
      {% assign categories = site.data._definition_options.blog_categories %}
      {% for category in categories %}
      <li>
        <a href="/blog/?c={{ category | replace: ' ', '-' | replace: '&', 'and' | downcase }}">{{ category }}
          {% assign count = 0 %}
          {% for postcount in site.data._models.posts %}
            {% if postcount.blog_category == category %}
              {% capture count  %}
                {{ count  | plus: '1' }}
              {% endcapture %}
            {% endif %}
          {% endfor %}
          <span>({{count}})</span>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>

  <div class="blog__subscribe">
    <p>SUBSCRIBE TO THE hotel caza BLOG</p>
    {% include forms/jotform/blog-subscribe.html %}
  </div>
</div>
