{% comment %}
  note the nav.is-fixed-top must immediately precede div.main for div.main top-margin to work property
{% endcomment %}

<nav class="navbar is-fixed-top nav--main" id="js-navbar--main">
  <div class="container-fluid p-0">
    <a class="navbar-brand" href="/">
      <span class="nav__logo"
        data-live-edit-settings='hotel_settings'
        data-live-edit-settings-field='logo'
        data-live-editable-type='image'
      >
        {% if site.data.hotel_settings.logo and site.data.hotel_settings.logo.url and site.data.hotel_settings.logo.url != '' %}
          {% assign logo_url = site.data.hotel_settings.logo.url_xsmall | default: site.data.hotel_settings.logo.url %}
          <img src="{{logo_url}}" alt="{{site.data.hotel_settings.logo.alt | default: 'Logo' }}" />
        {% else %}
          <span class="condensed-hotel-name">{{site.data.hotel_settings.name}}</span>
        {% endif %}
      </span>
    </a>
  <ul class="nav d-none d-lg-flex align-items-center text-uppercase flex-grow-1 justify-content-end pr-3">
    {% assign items = site.data._menus.main.items %}
    {% include nav/nav-item-list.html items=items %}
  </ul>
  <a role="button" aria-label="menu" aria-expanded="false" data-target="navMenu" class="navbar__burger d-lg-none">
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
  </a>
  <div class="" ttweb-component="BookingWidgetButton"  data-tt-select-dates-button-click="open-booking-widget">
     <a href="javascript:void(0);" role="button" class="btn btn--outline" >Book</a>
  </div>
  <ul class="nav--device" navMenu>
    {% assign items = site.data._menus.main.items %}
    {% include nav/nav-item-list.html items=items %}
    <div class="nav__social">
      {% if site.data.social.instagram.username %}
      <a href="https://www.instagram.com/{{ site.data.social.instagram.username }}/" target="_blank" title="Twitter"><i class="fab fa-instagram"></i></a>
      {% endif %}
      {% if site.data.social.facebook.username %}
      <a href="https://www.facebook.com/{{ site.data.social.facebook.username }}/" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a>
      {% endif %}
    </div>
  </ul>
</nav>
