{% assign sync = true %}
<div class="offers-cs" id="offerCrossSell">
  <div class="offers-cs__inner">
    <div class="offers-cs__row">
      <div class="offers-cs__intro">
        <p class="h2" tabindex="0">SPECIAL OFFERS: SAVE ON YOUR SAN FRANCISCO GETAWAY!</p>
        <a href="/offers/" class="btn btn--secondary">View all offers</a>
        <div class="slider-control">
          <div class="slide-prev" id="offerSliderPrev"><span tabindex="0"></span></div>
          <div class="slider-nav" id="offerSlider">
            <span></span>
          </div>
          <div class="slide-next" id="offerSliderNext"><span tabindex="0"></span></div>
        </div>
      </div>
      <div class="offers-cs__slider">
        <div class="offers-cs__slideitems" role="listbox">
          <div data-tt-offer-template="true" data-tt-class-name="tns-item">
            <div class="offers-cs__slider__item" role="option">
              <div class="offers-cs__slider__pic" {% if sync %}ttweb-offer-component="OfferImage"{% endif %}>
              {% include components/image image=offer.image %}
              </div>
              <div class="offers-cs__info">
                <p class="h3" {% if sync %}ttweb-offer-component="OfferTitle"{% endif %} tabindex="0">{{ offer.name }}</p>
                <a ttweb-offer-component="OfferViewButton" data-tt-url-format="/offers/offer#<offercode>" class="btn btn--secondary white">Details</a>
                <a target="_blank" class="btn btn--secondary white" ttweb-offer-component="OfferBookingButton">Book Offer</a>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="decorative">
    <img src="//res.cloudinary.com/traveltripperweb/image/upload/v1553673967/bvgmibl85oh38zmazmde.png" alt="Offers">
  </div>
</div>
