{% assign offers = site.data._models.offers | sort:"order" %}
<div class="offers-cs">
  <div class="offers-cs__inner">
    <div class="offers-cs__row">
      <div class="offers-cs__intro">
        <p class="h2" tabindex="0">SPECIAL OFFERS: SAVE ON YOUR SAN FRANCISCO GETAWAY!</p>
        <a href="/offers/" class="btn btn--secondary">View all offers</a>
        <div class="slider-control">
          <div class="slide-prev" id="offerSliderPrev"><span tabindex="0"></span></div>
          <div class="slider-nav" id="offerSlider">
            {% for offer in offers %}
            <span></span>
            {% endfor %}
          </div>
          <div class="slide-next" id="offerSliderNext"><span tabindex="0"></span></div>
        </div>
      </div>
      <div class="offers-cs__slider">
        <div class="offers-cs__slideitems" role="listbox">
        {% for offer in offers %}
          {% assign sync = page.sync_offer_content %}
          <div class="offers-cs__slider__item" data-tt-rate-code="{{offer.reztrip_offer_id}}" ttweb-component="Offer" role="option">
            <div class="offers-cs__slider__pic" {% if sync %}ttweb-offer-component="OfferImage"{% endif %}>
            {% include components/image image=offer.image %}
            </div>
            <div class="offers-cs__info">
              <p class="h3" {% if sync %}ttweb-offer-component="OfferTitle"{% endif %} tabindex="0">{{ offer.name }}</p>
              <a href="/offers/{{ offer.id | downcase }}/" class="btn btn--secondary white">Details</a>
              <a target="_blank" href="https://{{ site.data.hotel_settings._portal_id }}.reztrip.com/en/special_offer?rate_code={{offer.reztrip_offer_id}}" class="btn btn--secondary white" ttweb-offer-component="OfferBookingButton">Book Offer</a>
            </div>
          </div>
        {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="decorative">
    <img src="//res.cloudinary.com/traveltripperweb/image/upload/v1553673967/bvgmibl85oh38zmazmde.png" alt="Offers">
  </div>
</div>
