
{% assign rooms = site.data._models.rooms | sort:"order" %}

<div class="rooms-slider" role="listbox">
  {% for room in rooms %}
    <div class="rooms-slider__image" data-reztrip-room-id="{{room.reztrip_room_id}}" role="option">
      <div class="rooms-slider__photo">
        {% assign featured_image = room.featured_image | default: room.images[0] %}
        {% include components/image image=featured_image max_width=600 %}
      </div>
      <div class="rooms-slider__info">
        <p class="h3" tabindex="0">{{ room.name }}</p>
        <div class="tonight" tabindex="0">Tonight’s Rate <span data-reztrip-room-attribute="rate">$RATE {% t 'rooms.price_per_night', editable:true %}</span></div>
        <a href="/rooms/{{ room.id | downcase }}/" class="btn btn--secondary white">View</a>
        <span data-reztrip-room-book-now>
          <a href="" class="btn btn--secondary white">Book Now</a>
        <span>
      </div>
    </div>
    {% endfor %}
</div>

<div class="slider-control">
  <div class="slide-prev" id="roomSliderPrev"><span tabindex="0"></span></div>
  <div class="slider-nav" id="roomSlider">
    {% for room in rooms %}
    <span></span>
    {% endfor %}
  </div>
  <div class="slide-next" id="roomSliderNext"><span tabindex="0"></span></div>
</div>
