// Contact Page Elements
// ==========================================================================

.contact-intro {
  .box {
    .h4 {
      padding-bottom: 6px;
      color: $primary;
    }

    .contact-info {
      margin-bottom: 32px;
      @include media-breakpoint-up(md) {
        display: flex;
      }

      span {
        display: block;
        &:first-child {
          margin-bottom: 20px;
          @include media-breakpoint-up(md) {
            margin-bottom: 0;
            padding-right: 58px;
          }
        }
      }
    }
  }
}

.contact-form {
  max-width: 856px;
  margin: 0 auto;

  &__wrapper {
    @include make-row;
    align-items: flex-end;
    margin: 0;
  }

  .h2 {
    margin-bottom: 15px;
  }

  &__half-col {
    @include make-col-ready;
    @include media-breakpoint-up(md) {
      @include make-col(6);
    }
  }

  &__full-col {
    @include make-col-ready;
    @include make-col(12);
  }

  &__five-col {
    @include make-col-ready;
    @include media-breakpoint-up(md) {
      @include make-col(2.4);
    }
  }

  .inner-wrapper {
    @include make-row;

    &__date {
      @include make-col-ready;
      @include make-col(5);
    }

    &__numbers {
      @include make-col-ready;
      @include make-col(7);
    }
  }


  label {
    display: inline-block;
    font-family: $family-primary;
    font-size: 12px;
    line-height: 24px;
    color: $primary;
    text-transform: uppercase;
    letter-spacing: .75px;
  }

  .form-control {
    padding: 9px 0;
    color: $secondary;
    border-bottom: solid 1px $secondary;

    &::placeholder {
      color: $secondary;
    }

    &.input-date {
      
    }

    &.input-small {
      padding-right: 12px;
      padding-left: 12px;
      background: transparent;
      border: 1px solid $secondary;
      &::placeholder {
        color: $secondary;
      }
    }
  }

  textarea {
    padding: 12px;
    border: 1px solid $secondary;
  }

  .submit-contact {
    margin-left: 1.25rem;
  }
}
