.c-item-detail {

  &__image-group {
    height: 376px;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  &__text-group {
    @include make-container;
    @include make-container-max-widths;

    &--mw-990 {
      max-width: 720px;

      @include media-breakpoint-up(lg) {
        max-width: 990px;
      }
    }

    &__wrap {
      @include make-row;
    }

    &__headings {
      @include make-col-ready;
      @include media-breakpoint-up(md) {
        @include make-col(4);
      }
      .h2 {
        padding-bottom: 16px;
      }

      .ttweb-cross-out-rate {
        display: inline-block;
      }
    }

    &__selector {
      @include make-col-ready;
      @include media-breakpoint-up(md) {
        @include make-col(3);
      }

      .ttweb-booking-button {
        @extend .btn--primary;
      }
    }

    &__text {
      @include make-col-ready;
      @include media-breakpoint-up(md) {
        @include make-col(5);
      }

      &--wider {
        @include media-breakpoint-up(md) {
          @include make-col(8);
        }
      }

      .room-info {
        margin-top: 15px;

        @include media-breakpoint-up(md) {
          margin-top: 0;
        }
        span {
          display: flex;
          margin-bottom: 15px;

          @include media-breakpoint-up(sm) {
            display: inline-flex;
            padding-right: 30px;
            padding-left: 30px;
            border-right: solid 1px $grey;
          }

          i {
            margin-right: 5px;
            font-size: 24px;
            color: $beige;
          }

          &:first-child {
            padding-left: 0;
          }

          &:last-child {
            border: 0;
          }
        }
      }
    }
  }
}
