// Shared Page Elements
// ==========================================================================

.hero {
  height: 376px;

  &__body {
    order: 1;
  }

  &__title {
    order: 2;
  }

  .h3 {
    margin-bottom: 20px;
    color: $white;
  }
}
//slider control
.slider-control {
  display: flex;
  justify-content: center;

  div {
    margin: 0 5px;
  }
}

.slide-next,
.slide-prev {
  width: 40px;
  height: 20px;
  text-align: right;

  span {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 13px;
    margin-left: auto;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:after {
      position: absolute;
      top: 6px;
      left: 0;
      width: 100%;
      content: '';
      border-top: 1px solid $secondary;
    }

    &:before {
      position: absolute;
      left: 3px;
      display: block;
      width: 13px;
      height: 13px;
      content: '';
      border-top: 1px solid $secondary;
      border-left: 1px solid $secondary;
      transform: rotate(-45deg);
    }

    &:hover {
      width: 36px;
    }
  }

  &.slide-next {
    text-align: left;

    span {
      margin-right: auto;
      margin-left: 0;

      &:before {
        right: 3px;
        left: auto;
        transform: rotate(135deg);
      }
    }
  }
}

.slider-nav {
  display: flex;
  align-items: center;

  span {
    display: inline-block;
    width: 7px;
    height: 7px;
    margin: 4px 8px;
    background-color: $grey;
    transition: all 0.3s ease-in-out;

    &.tns-nav-active {
      width: 13px;
      height: 13px;
      background-color: $secondary;
    }
  }
}

.form-control {
  height: auto;
  margin-bottom: 32px;
  padding: 12px 0;
  font-family: $family-secondary;
  font-size: 14px;
  font-weight: 300;
  color: $primary;
  background-color: transparent;
  border: 0;
  border-bottom: solid 1px $primary;
  border-radius: 0;

  &:focus {
    color: $primary;
    background-color: transparent;
    border: 0;
    border-bottom: solid 1px $primary;
    outline: 0;
    box-shadow: none;
  }

  &::placeholder {
    color: $primary;
  }
}

.form-check {
  .form-check-input {
    opacity: 0;
  }

  .form-check-label {
    font-family: $family-secondary;
    font-size: 12px;
    color: $primary;
  }

  .custom-control-input {
    &:checked {
      outline: none;
      box-shadow: none;

      ~ .custom-control-label {
        &:before {
          background-color: $primary;
          outline: none;
          box-shadow: none;
        }
      }
    }
  }

  &:focus {
    ~ .custom-control-label {
      &:before {
        outline: none;
        box-shadow: none;
      }
    }
  }
}

.custom-control-label {
  vertical-align: middle;

  &:before {
    top: 0;
    left: -1.25rem;
    background-color: transparent;
    border: solid 1px $primary;
  }

  &:after {
    top: 0;
    left: -1.25rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }
}

//cta banner
.cta-banner {
  position: relative;
  width: 100%;
  min-height: 400px;
  max-height: 600px;

  img {
    width: 100%;
    object-fit: cover;
  }

  &__content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    @include make-container;
    @include make-container-max-widths;
    display: flex;
    align-items: center;
    text-align: center;
  }
}
