
<div class="c-item-detail" data-reztrip-offer-id="{{offer.reztrip_offer_id}}">
  <div class="c-item-detail__image-group">
    {% include components/image image=offer.image max_width=600 %}
  </div>
  <div class="c-item-detail__text-group">
    <div class="c-item-detail__text-group__wrap  tb-padding">
      <div class="c-item-detail__text-group__headings">
        <h1 class="h2">{{ offer.name }}</h1>
        <p class="h4">{{ offer.short_description }}</p>
        <div class="c-offer__rate" data-reztrip-offer-attribute="rate"></div>
      </div>

      <div class="c-item-detail__text-group__text">
        {{ offer.description }}
      </div>

      <div class="c-item-detail__text-group__selector">
        <span data-reztrip-offer-book-now>
         <a data-reztrip-offer-book-now href="#" class="btn btn--primary ml-md-3">Book Offer</a>
        </span>
      </div>

    </div>
  </div>
</div>
