---
layout: generic
---

<section class="blog">
  <!-- Blog Categories and Search Mobile -->
  {% include blog-mobile-cat-search.html %}
  <!-- End Blog Categories and Search Mobile -->
  <div class="blog__container">
    <div class="blog__row">
      <div class="blog__list">
        {% assign blog-posts = site.data._models.posts | sort: 'date' | reverse %}
        {% for post in blog-posts %}
        {% if post.category == page.category %}
        <div class="blog__item filter-item" data-filter="{{ post.blog_category | replace: ' ', '-' | replace: '&', 'and' | downcase }}">
          <figure class="blog__image">
            <a href="/blog/{{ post.url_friendly_name }}" tabindex="-1">
              <img src="{{ post.image.url_medium }}" alt="{{ post.title }}">
            </a>
          </figure>
          <div class="blog__item__body">
            <p class="h2">
              <a href="/blog/{{ post.url_friendly_name }}/">{{ post.title }}</a>
            </p>
            <div class="blog__info">
              <span class="blog__date" tabindex="0">
                {{ post.date | date: '%B %d, %Y' }}
              </span>
              <a href="/blog/?c={{ post.blog_category | replace: ' ', '-' | replace: '&', 'and' | downcase }}" class="blog__category">{{ post.blog_category }}</a>
            </div>
            <div tabindex="0">
              {% assign excerpt = post.post_excerpt %}
              {% if excerpt == '' or excerpt == nil %}
                {% assign excerpt = post.post_content | strip_html | truncatewords: 40  %}
              {% endif %}
              {% if excerpt and excerpt != '' %}
                <p>{{ excerpt }}</p>
              {% endif %}
            </div>
            <div class="btn-holder">
              <a class="btn btn--secondary" href="/blog/{{ post.url_friendly_name }}/">Read More</a>
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
      <div class="blog__aside">
        {% include blog-sidebar.html %}
      </div>
    </div>
  </div>
</section>

{% region cta_banner, type:hero %}
{% include components/instagram %}
