---
layout: generic
---

<section class="blog">
  {% include mobile-cat-search.html %}
  <div class="blog__container">
    <div class="blog__row">
      <div class="blog__list">
        {% assign blog-posts = site.data._models.posts | sort: 'date' | reverse %}
        {% for post in blog-posts %}
        {% if post.category == page.category %}
        <div class="blog__item filter-item" data-filter="{{ post.blog_category | replace: ' ', '-' | replace: '&', 'and' | downcase }}">
          <figure class="blog__image">
            <a href="/blog/{{ post.url_friendly_name }}" tabindex="-1">
              <img src="{{ post.image.url_medium }}" alt="{{ post.title }}">
            </a>
          </figure>
          <div class="blog__item__body">
            <h2 class="h2">
              <a href="/blog/{{ post.url_friendly_name }}/">{{ post.title }}</a>
            </h2>
            <div class="blog__info">
              <span class="blog__date" tabindex="0">
                {{ post.date | date: '%B %d, %Y' }}
              </span>
              <a href="/blog/?c={{ post.blog_category | replace: ' ', '-' | replace: '&', 'and' | downcase }}" class="blog__category">{{ post.blog_category }}</a>
            </div>
            <div tabindex="0">
              {% assign excerpt = post.post_excerpt %}
              {% if excerpt == '' or excerpt == nil %}
                {% assign excerpt = post.post_content | strip_html | truncatewords: 40  %}
              {% endif %}
              {% if excerpt and excerpt != '' %}
                <p>{{ excerpt }}</p>
              {% endif %}
            </div>
            <div class="btn-holder">
              <a class="btn btn--secondary" href="/blog/{{ post.url_friendly_name }}/">Read More</a>
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}

        {% if data_paginator.total_pages > 1 %}
        <div class="page-number" tabindex="0">Page: {{ data_paginator.page }} of {{ data_paginator.total_pages }}</div>
          <ul class="pagination">
            <li class="page-item {% if data_paginator.previous_page %}{% else %}disabled{% endif %}">
              <a class="secondary-cta" href="{% if data_paginator.previous_page %}{{ data_paginator.previous_page_path }}{% else %}javascript:void(0);{% endif %}" title="Prevous page">Previous</a>
            </li>
            <li class="page-item {% if data_paginator.next_page %}{% else %}disabled{% endif %}">
              <a class="secondary-cta" href="{% if data_paginator.next_page %}{{ data_paginator.next_page_path }}{% else %}javascript:void(0);{% endif %}" title="Next page">Next</a>
            </li>
          </ul>
        {% endif %}
      </div>
      <div class="blog__aside">
        {% include blog-sidebar.html %}
      </div>
    </div>
  </div>
</section>

{% region cta_banner, type:hero %}
{% include components/instagram %}
