---
layout: default
---

{% assign offer = page.data %}
{% include components/offer-detail.html %}

{% assign offers = site.data._models.offers | sort:"order" %}
<div class="offers-cs offers-cs--more">
  <div class="offers-cs__inner">
    <div class="offers-cs__header">
      <p class="h2">More offers</p>
      <a href="/offers/" class="btn btn--secondary">View all offers</a>
    </div>
    <div class="offers-cs__row">
      <div class="offers-cs__slider">
        <div class="offers-cs__slideitems">
        {% for offer in offers %}
          <div class="offers-cs__slider__item">
            <div class="offers-cs__slider__pic">
            {% include components/image image=offer.image %}
            </div>
            <div class="offers-cs__info">
              <p class="h3">{{ offer.name }}</p>
              <a href="/offers/{{ offer.id | downcase }}/" class="btn btn--secondary white">Details</a>
              <a href="" class="btn btn--secondary white">Book Offer</a>
            </div>
          </div>
        {% endfor %}
        </div>
        <div class="slider-control">
          <div class="slide-prev" id="offerSliderPrev"><span></span></div>
          <div class="slider-nav" id="offerSlider">
            {% for offer in offers %}
            <span></span>
            {% endfor %}
          </div>
          <div class="slide-next" id="offerSliderNext"><span></span></div>
        </div>
      </div>
    </div>
  </div>
  <div class="decorative">
    <img src="//res.cloudinary.com/traveltripperweb/image/upload/v1553673967/bvgmibl85oh38zmazmde.png" alt="Offers">
  </div>
</div>

<div class="hero cta-banner" style="background-image: url('{{ site.data._regions.en._pages.offers.outro[0].hero_image.image.url_large }}');"   >
  <div class="hero__title">
    <p class='h1'>{{  site.data._regions.en._pages.offers.outro[0].hero_title.content }}</p>
  </div>
  <div class="hero__body">
    {{  site.data._regions.en._pages.offers.outro[0].hero_html.content }}
  </div>
</div>
