---
layout: generic
---

{% assign offers = site.data._models.offers | sort:"order" %}
<section class="c-offer-list tb-padding">
    {% for offer in offers %}
      {% include components/offer.html %}
    {% endfor %}
</section>

{{ content }}

{% comment %}

  Name:

    Offer List Page

  Description:

    Displays a list of offer models enhanced with dynamic data from reztrip.
    Allows user editable regions via the generic layout.

  Usage:

    To customize the rendering of each offer model, create your own _includes/components/offer file.
    In general, use the editable regions available from the "generic" layout to add content above and below the offers list.
    To add custom components/content to the page, write that content in the body of the page that uses this layout and it will be included after the offer list.


{% endcomment %}
