---
layout: generic
---

{% assign rooms = site.data._models.rooms | sort:"order" %}

 <section>
  <ul class="room-filter nav--filter">
    <p class="h4">Select A Room Type</p>
    {% assign bedtypes = site.data._models.room_bed_types | sort:"order" %}
    {% for filter in bedtypes %}
    <li><a href="javascript:;" data-rel="{{ filter.name | replace:" ","_"  }}"  data-filter="{{ filter.name | replace:" ","_"  }}" class="filter filter--option">{{ filter.name }}</a></li>
    {% endfor %}
  </ul>
  <div class="c-room-list tb-padding">
    {% for room in rooms %}
      {% include components/room %}
    {% endfor %}
  </div>
</section>

{{ content }}

{% comment %}

  Name:

    Room List Page

  Description:

    Displays a list of room models enhanced with dynamic data from reztrip.
    Allows user editable regions via the generic layout.

  Usage:

    To customize the rendering of each room model, create your own _includes/components/room file.
    In general, use the editable regions available from the "generic" layout to add content above and below the rooms list.
    To add custom components/content to the page, write that content in the body of the page that uses this layout and it will be included after the room list.


{% endcomment %}
