<form action="https://submit.jotform.me/submit/{{ site.data.forms.jotform.blog-subscription-id }}/" method="post" name="form_{{ site.data.forms.jotform.blog-subscription-id }}" id="{{ site.data.forms.jotform.blog-subscription-id }}" accept-charset="utf-8">
  <input type="hidden" name="formID" value="{{ site.data.forms.jotform.blog-subscription-id }}">
  <div class="form-group">
    <input type="email" class="form-control" id="input_1" name="q1_email" placeholder="Enter your email address" aria-label="Enter your email address" required>
    <button class="btn-arrow"><i class="fal fa-arrow-right"></i></button>
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input custom-control-input" id="agree_terms" name="q2_iAgree[]" aria-label="Select checkbox to agree the Terms of Use & Privacy Policy" value="Yes">
    <label class="form-check-label custom-control-label" for="agree_terms">I agree to the <a href="/terms/">Terms of Use</a> & <a href="/privacy/">Privacy Policy</a></label>
  </div>
</form>
