<form action="https://submit.jotform.me/submit/{{ site.data.forms.jotform.newsletter-id }}/" method="post" name="form_{{ site.data.forms.jotform.newsletter-id }}" id="{{ site.data.forms.jotform.newsletter-id }}" accept-charset="utf-8">
  <input type="hidden" name="formID" value="{{ site.data.forms.jotform.newsletter-id }}">
  <input type="email" class="form-control" id="input_1" name="q1_email" placeholder="Enter your email address" aria-label="Enter your email address" required>
  <div class="form-check">
    <input type="checkbox" class="form-check-input custom-control-input" id="agree_terms" name="q2_iAgree[]" aria-label="Select checkbox to agree the Terms of Use & Privacy Policy" value="Agree">
    <label class="form-check-label custom-control-label" for="agree_terms" tabindex="0">I agree to the <a href="/terms/">Terms of Use</a> & <a href="/privacy/">Privacy Policy</a></label>
  </div>
  <div class="submit-social">
    <button type="submit" class="btn btn--tertiary">Subscribe</button>
    <div class="social">
      {% if site.data.social.instagram.username %}
      <a href="https://www.instagram.com/{{ site.data.social.instagram.username }}/" target="_blank" title="Instagram"><i class="fab fa-instagram"></i></a>
      {% endif %}
      {% if site.data.social.facebook.username %}
      <a href="https://www.facebook.com/{{ site.data.social.facebook.username }}/" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a>
      {% endif %}
    </div>
  </div>
</form>
